.textParent {
  display: flex;
  flex-direction: column;
  height: 92.5vh;    
  box-sizing: border-box;

}

.fileInfo{
    border-top: 1px solid var(--medium-green);
}

.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--medium-green);
}

.file {
    transform: translateY(-4px);
}

.fileButton{
    padding:0.25em;
    margin:0;
}

.editorNameSeperator {
  margin: 0;
}

.textArea {
  flex-grow: 1;
  resize: none;
  
  background-color: transparent;
  border: none;
  outline: none;

  font-family: inherit; 
  font-size: 1em;
  color: inherit;
}

.textArea::placeholder {
  color: inherit;
  opacity: 0.8; 
}

.saveText {
    font-size: 0.9em;
    opacity: 0.8;
    padding-right: 0.5em;
}

.error {
   color: 'red';
   padding: '1rem';
}

.exitButton {
    margin-left: 0.5em;
}